<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Image Slider @ themyth92</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
    <link href="www/css/freelancer.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
		  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
		<![endif]-->
		<link href ="www/css/style.css" rel="stylesheet" type="text/css">
		<link href ="dist/css/lightbox.min.css" rel="stylesheet" type="text/css">
  	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>
	<body ng-app="app">
		
		<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
  			<div class="navbar-header page-scroll">
            <a class="navbar-brand">Themyth92</a>
        </div>
      </div>
    </nav>
		
		<!-- Header -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="title"><span class="fa fa-image fa-3x" style="color:#2c3e50"></span></h1>
            <div class="intro-text">
              <span class="name">Ng Bootstrap Lightbox</span>
              <hr class="star-light">
              <span class="skills">A lightbox AngularJS plugin with Bootstrap Modal</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="#demo">
    	<div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>DEMO</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row" style="margin-top:20px">
        	<div class="col-lg-12 text-center">
            <h4>4 image set</h4>
          </div>
        </div>
        <div class="row text-center" ng-controller="Demo1 as Demo1Ctrl">
        	<div ng-repeat="image in Demo1Ctrl.album" class="img-row">
            <img class="img-responsive img-frame" ng-src="{{image.thumb}}" ng-click="Demo1Ctrl.open($index)"/>
            </div>
        </div>
      </div>
    </section>

    <section class="success" id="howto">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>How to use</h2>
            <hr class="star-light">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Feel free to submit a <a href="https://github.com/themyth92/ng-bootstrap-lightbox/pulls">pull request</a> or <a href="https://github.com/themyth92/ng-bootstrap-lightbox/issues/new">create an issue</a> on Github</p>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://github.com/themyth92/ng-bootstrap-lightbox#readme" class="btn btn-lg btn-outline">
              <i class="fa fa-book"></i> Readme
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Contact Me</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row text-center">
        	<ul class="list-inline" style="padding-top:20px">
					  <li><a href="https://github.com/themyth92" title="github"><span class="fa fa-github fa-4x"></span></a>
            </li>
					  <li><a href="http://stackoverflow.com/users/2412204/themyth92" title="stackoverflow"><span class="fa fa-4x fa-stack-overflow"></span></a></li>
					</ul>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Location</h3>
              <p>Singapore</p>
            </div>
            <div class="footer-col col-md-4">
            </div>
            <div class="footer-col col-md-4">
              <p>The page generated using <a href="http://startbootstrap.com/template-overviews/freelancer/">Freelancer</a> template.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; themyth92 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

		<!-- FORK -->
		<div class="github-fork-ribbon-wrapper right-bottom">
      <div class="github-fork-ribbon">
        <a href="https://github.com/themyth92/ng-bootstrap-lightbox">Fork me on GitHub</a>
      </div>
    </div>

	  <script src="www/js/classie.js"></script>
		<script src="www/js/cbpAnimatedHeader.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
	  <script src="dist/js/lightbox.min.js"></script>
    <!--<script src="src/js/lightbox.module.js"></script>
    <script src="src/js/lightbox.directive.js"></script>
    <script src="src/js/lightbox.service.js"></script>-->
		<script src="www/js/module.js"></script>
		<!-- / FORK -->
	</body>
</html>
